.about-section-container {
    margin-top: 0.01rem;
    border: 1px solid rgb(247,249,250) ;
    height: 100vh;
    /* background-color: rgb(247,249,250); */
    /* background-image: ; */
}

 .about-background-image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    overflow: hidden;
}

.Background {
    width: 100%;
    height: 150%;
    object-fit: cover;
}

.about-section-text-container p{
    text-align: center;
}

.primary-subheading-about{
    margin-top: 13vh;
    font-weight: 700;
    color: #fe9e0d;
    font-size: 2rem;
    width: 100%;
}

.primary-heading-about{
    margin-top: 6vh;
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    color: #4c4c4c;
    max-width: 130vh;
    margin-left: 28vh ;
}

.text-body-about{
    text-align: center; 
}

.primary-text-about{
    margin-top: 6vh;
    font-weight: 700;
    width: 100%;
    text-align: center;
    max-width: 130vh;
    margin-left: 31.7% ;
    font-size: clamp(1rem, 3vw, 1.3rem);
    max-width: 680px;
    color: #6a6a6a;
    text-align: justify;
}

.about-buttons-container{
    text-align: center;  
}

.button-about {
    padding: 1rem 2.5rem;
    background-color: #fe9e0d;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    justify-content: center;
    margin-top: 50px;
}
.button-about:hover {
    background-color: #e48f0f;
}
