.contact-page-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(247,249,250) ;
    height: 100vh;
    background-color: rgb(247,249,250);
}

.contact-form-container{
    background-color: #EDE9E8;
    max-width: 700;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    padding: 1rem 40px;
    border-radius: 5rem;
}

.contact-form-container input{
    background-color: #EDE9E8;
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
}

.primary-h{
    margin-top: 200px;
    font-size: clamp(2rem, 5vw, 4rem);
    color: #4c4c4c;
    max-width: 600px;
}

.secondary-button{
    padding: 1rem 2.5rem;
    background-color: #fe9e0d;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    justify-content: center;
}

.secondary-button:hover{
    background-color: #e48f0f;
}